/* ==========================Landing Page styles========================================= */
.welcome {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 100px;
    font-weight: normal;
    margin: 0 0 -55px;
}
h1{
    font-family: "Source Code Pro", sans-serif;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
}

h3{
    font-family: 'Dancing Script', cursive;
}

.here{
    font-family: 'Piazzolla', serif;
}

.btn-danger{
  margin-right: 20px;
}

.fa-asterisk, .welcome {
    color: rgb(173, 172, 72);
}

article .text,.text i {
    text-align: center;
}
article .text, article .text .arrow .left, article .text .arrow .right{
    position: relative;
}
article .text .arrow .left:after, article .text .arrow .right:after{
    position: absolute;
}

article .text .arrow .left, article .text .arrow .right{
    background-color: #fff;
}
h1{
    color:red;
}
.outline{
   color: transparent;
    -webkit-text-stroke: 2px wheat;
    opacity: 0.7;
    font-size: 40px;
}
article nav, article .text .arrow .left:after {
    left: 0;
}
article .text .arrow .left:after, article .text .arrow .right:after, article .text span, .arrow-up,  .text i {
    display: inline-block;
}

/*Start Header*/
article {
    
      box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    overflow: hidden;
    height: calc(100vh - 1px);
}

article .text {
    top: 24%;
}
article .text h1 {
    margin-bottom: 0;
}
article .text .arrow .left, article .text .arrow .right {
    height: 3px;
    width: 100px;
}

article .text .arrow .left {
    left: -4%;
}
article .text .arrow .right {
    right: -4%;
}
article .text .arrow .left:after, article .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: #fff;
    top: -8px;
}
article .text .arrow .right:after {
    right: 0;
    border-color: transparent #fff transparent transparent;
}
article .text .arrow .fa-asterisk {
    vertical-align: super;
}
article .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}
.intro{
    display: flex;
    color: wheat;
    height: 100vh ;
    margin-left: 40%;
}

.typing{
    position: relative;
    margin-left: 10px;
}
.typing::after{
    content:"";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 4%;
    border-right: 2px solid red;
    animation: blink 0.5s infinite ease  ;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*End Header*/

@media (max-width: 1500px) {
    body {
        padding: 0;
    }
    
    article {
        height: calc(100vh - 1px);
    }
    .intro{
        margin-left: 32%;
     }
 
   
}

@media (max-width: 576px) {
     h1 {
        font-size: 40px;
    }
    .welcome {
        font-size:90px
    }
    article {
        padding: 0;
    }
    .intro{
       margin-left: 2%;
    }

}
/*End Home Page Responsive*/
/* =================================== SignUp and Login Styles ================================== */

body{
    background-color: white;
}

#myLogo{
    width: 20%;
    border-radius: 10%;
}

#navBar{
    margin-bottom: 5%;
}

#main_footer{
    margin-top: 10%;
}

section{
    width: 50%;
    padding: 20px 20px;
    border-radius: 2px;
    background-color: whitesmoke;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: gray;
    color: wheat;
    font-family: 'Sansita Swashed', cursive;
    font-size: x-large;
}


/* ============================ Recipes Styles ================================*/
.navItems{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#recipes-header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: gray;
    color: wheat;
}

#recipes-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: gray;
    color: wheat;
}

#recipes-header2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: gray;
    color: wheat;
}

#recipes-section{
    width: 90%;
    padding: 20px 20px;
    border-radius: 2px;
}

#recipes-section-single{
    width: 90%;
    padding: 20px 20px;
    border-radius: 2px;
    background-color: white;
}


.singleRecipe{
    width: 5%;
}

.singleRecipe img{
    width: 100%;
}

#recipesRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-body{
    background-color: wheat;
}

small{
    font-family: 'Julee', cursive;
}

/* ====================== SHow RECIPE ====================================================================*/

svg{
    margin-right: 10px;
}

#ingreCol{
    background-color: white;
    text-align: center;
    border-radius: 5%;
}

#resDesc{
    background-color: white;
    border-radius: 5%;
    text-align: center;
}

#resDesc p, div{
    text-align: justify;
}

#ingreCol div{
    text-align: justify;
}

#descCol{
    background-color: wheat;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

#descCol div{
    text-align: justify;
}

h2, h4{
    font-family: 'Sansita Swashed', cursive;
}

h4{
    color: rgb(235, 81, 47);
}

p, a{
    font-family: 'Julee', cursive;
    color: grey;
}

.reciSpan{
    font-family: 'Julee', cursive;
    color: grey;
}

small{
    color: grey;
}

#footerMi{
    font-family: 'Julee', cursive;
    color: whitesmoke;
}

span img{
    width: 3%;
}

hr{
    border: 1px solid red;
    margin-top: 10%;
}

.logos span{
    margin-right: 2%;
}

/* ======================================================== Add Recipe Styles ========================================== */
#left-section{
    border-left: 2px solid wheat;
    border-right: 2px solid wheat;
}

#left-section button{
    width: 100%;
    display: block;
}

#left-section h4{
    width: 100%;
    display: block;
    color: wheat;
}

label{
    font-family: 'Sansita Swashed', cursive;
    color: grey;
    font-size: large;
}


/* ======================================================== Footer Styles ============================================ */

#myLogoFooter{
    width: 20%;
    margin-left: 40%;
}


.logos{
    text-align: center;
    margin-bottom: 5%;
}

/* ======================================================== Responsiveness ================================================ */
@media(max-width: 767px){
    #myLogoFooter{
        width: 50%;
        margin-left: 25%;
    }
    
    
    .logos{
        text-align: center;
        margin-bottom: 5%;
    }

    section{
        width: 90%;
        padding: 20px 20px;
        border-radius: 2px;
        background-color: whitesmoke;
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        padding: 5px 5px;
        border-radius: 5px;
        background-color: gray;
        color: wheat;
        font-family: 'Sansita Swashed', cursive;
        font-size: x-large;
    }
}